spring.application.name=ciaklog

spring.datasource.url=jdbc:mysql://localhost:3306/ciaklog_db
spring.datasource.username=root
spring.datasource.password=MYSQL_PASSWORD

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

jwt.secret=JWT_SECRET_MIN_32_CHARS
jwt.expiration=86400000

tmdb.api.key=TMDB_API_KEY
tmdb.api.base-url=https://api.themoviedb.org/3
tmdb.api.image-base-url=https://image.tmdb.org/t/p/w500

ai.api.key=GEMINI_API_KEY
ai.api.url=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
ai.api.model=gemini-2.0-flash

spring.data.web.pageable.default-page-size=10
spring.data.web.pageable.max-page-size=50
